h1
{
    color: pink;
}

.content
{
    display: flex;
}

.content img
{
    width: 80px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(104, 42, 52);

}

.content img:hover
{
    width: 90px;
    padding: 10px;
    margin: 30px;
    background-color: rgb(224, 19, 53);
}